/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */

:root {
    --primary-color: #f8fbff;
    --secondary-color: #8fc3cb;
    --accent1-color: #1a1a80;
}

body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid var(--accent1-color);
    padding: 1rem;
    background-color: var(--secondary-color);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: var(--primary-color);
}