:root {
    --primary-color: #ffffff;
    --secondary-color: #d3d3d3;
    --accent1-color: #BA181B;
    --accent2-color: #161A1D;
    --accent3-color: #A4161A;
    --accent4-color: #Ed383B;

    --heading-font: "Cardo", serif;
    --paragraph-font: "Cormorant Garamond", serif;

    --nav-background-color: #660708;
    --nav-link-color: #B1A7A6;
    --nav-hover-link-color: #0B090A;
    --nav-hover-background-color: #F5F3F4;
}


body {
    font-family: 'Roboto', sans-serif;
}

body,
header,
main,
footer,
section {
    max-width: 500px;
    min-width: 400px;
    margin: 1rem auto;
    padding: .25rem;
}

h1 {
    display: flex;
    padding: .25rem;
    font-size: 1.6rem;
    position: relative;
    color: var(--nav-hover-link-color);
}

.socialmedia {
    display: flex;
    justify-content: center;
    padding: .25rem;
}

.header-top {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

img#logo {
    position: relative;
    width: 15%;
    height: auto;

}

header img {
    display: flex;
    width: 2.5rem;
    height: auto;
}

header {
    display: block;
    background-color: var(--secondary-color);
}

#submission {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 1rem;
    bottom: 1.5rem;
}

button#join {
    display: grid;
    background-color: var(--accent2-color);
    color: var(--nav-hover-background-color);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}

/* Dark Mode */

#mode {
    display: grid;
    font-size: 1.49rem;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    justify-content: right;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-label {
    display: block;
    position: relative;
    background-color: var(--secondary-color);
    color: var(--nav-background-color);
    opacity: .7;
    font-weight: 700;
    font-size: 1.4rem;
    bottom: 8rem;
    text-align: center;
    padding: 0;
}

h2 {
    display: block;
    text-align: center;
}

h3 {
    text-align: left;
}

hr {
    color: var(--accent1-color);
    background-color: var(--accent3-color);
    padding-top: .1rem;
    /* margin-right: 1rem; */
    /* margin-left: 1rem; */
}

section.current-events {
    border: 3px solid var(--accent1-color);
    background-color: var(--secondary-color);
    color: var(--nav-hover-link-color);
    border-radius: .5rem;
    text-align: left;
    padding: 1rem;
}

section.weather {
    border: 3px solid var(--accent1-color);
    background-color: var(--secondary-color);
    color: var(--nav-hover-link-color);
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
}

#spotlight {
    border: 3px solid var(--accent1-color);
    background-color: var(--secondary-color);
    color: var(--nav-hover-link-color);
    border-radius: .5rem;
    text-align: right;
    padding: 1rem;
    margin-bottom: 1rem;
}

h6 {
    color: var(--nav-background-color);
    text-align: center;
    font-size: small;
    margin: .4rem;
}

a:hover {
    color: var(--nav-hover-link-color);
}

.call-to-action {
    display: block;
}

/* Call to action form */

form {
    padding: 0rem;
    margin: 0rem auto;
    background-color: var(--secondary-color);
    border: .5rem dotted var(--accent1-color);
    border-radius: 1rem;
}

fieldset {
    display: grid;
    margin: 0rem;
    border: 5px solid var(--accent2-color);
    border-radius: 1rem;
    text-align: center;
}

legend {
    padding: .45rem;
    color: var(--accent2-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.5rem;
}

label,
input,
button,
select,
textarea {
    font-family: var(--paragraph-font)
}

input,
textarea {
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    width: 90%;
}

button#submit {
    display: flex;
    margin: 2rem;
    background-color: var(--accent2-color);
    color: var(--nav-hover-background-color);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    width: 80%;
    align-items: center;
    justify-content: center;
}

button#submit:hover,
button#join:hover {
    background-color: var(--accent1-color);
}

.form-item1 {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--nav-background-color);
}

.form-item2 {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--nav-background-color);
}

.booking button:hover {
    background-color: var(--accent1-color);
}

.formheader {
    display: grid;
    align-items: center;
    justify-content: center;
}

h4 {
    display: block;
    justify-content: left;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--nav-background-color);
    font-size: 1.8rem;
}

footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--accent1-color);
}

footer img {
    width: 65px;
    height: 34px;
    padding-left: 1rem;

}

p#first {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

p#second {
    color: var(--nav-background-color);
}

/*Hamburger Button*/

#menu {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    padding: .75rem;
    justify-content: center;
    background-color: var(--nav-background-color);
    color: var(--nav-hover-background-color);
}

#menu::before {
    content: "≡";
    padding: .75rem;
    justify-content: center;
}

a#menu {
    height: 35px;
    align-items: center;
    padding-right: .5rem;
}

a#menu.show {
    background-color: var(--nav-link-color-2);
    align-items: center;
}

#menu.show::before {
    content: "❌";
    font-size: large;
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    padding: .75rem;
    justify-content: center;
    position: relative;
}

.navigation {
    display: none;
}

.navigation a {
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--nav-background-color);
    font-weight: 700;
}

.navigation a:link,
.navigation a:visited {
    color: var(--nav-hover-background-color);
}

div a {
    color: var(--nav-link-color-2);
}

.navigation a:hover,
.navigation a:active {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    height: fit-content;
}

.show.navigation {
    display: grid;
}

.weather {
    background-color: var(--primary-color);
    border: 2px solid var(--accent2-color);
    border-radius: .5rem;
    display: block;
    justify-content: center;
    align-items: center;
}