@media screen and (min-width: 580px) {

    body,
    header,
    footer,
    main {
        max-width: 900px;
        min-width: 715px;
        margin: .5rem auto;
        padding: 0;
    }

    h1 {
        width: 160px;
        font-size: 1.75rem;
    }

    header {
        display: flex;
        background-color: var(--nav-background-color);
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header-top {
        width: 5px;
    }

    header img {
        display: block;
        width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
    }

    nav.socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img#logo {
        width: 100px;
        height: 100px;
        padding-left: 25px;
        padding-right: 15px;
    }

    a#menu {
        display: none;
    }

    .navigation {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .navigation a {
        padding-left: 0;
        padding-right: .35rem;
        font-size: 1.2rem;
    }

    a {
        margin: 0;
        padding-left: 0;
    }

    main {
        max-width: 800px;
    }

    .hero img {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        top: 2rem;
    }

    .hero-label {
        display: block;
        position: relative;
        color: var(--accent4-color);
        font-weight: 700;
        font-size: xx-large;
        bottom: 11rem;
        text-align: center;
    }

    #submission {
        display: grid;
        position: relative;
        grid-template-columns: .4fr .35fr;
        justify-content: space-between;
        bottom: 27.2rem;
        max-width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 0;
    }

    #mode {
        display: grid;
        background-color: var(--primary-color);
        color: var(--accent2-color);
        padding: 1rem;
        border: none;
        cursor: pointer;
        border-radius: 1rem;
        justify-content: center;
    }

    #mode:hover {
        background-color: var(--accent1-color);
    }

    .events-weather {
        display: grid;
        grid-template-columns: 1fr .5fr;
        position: relative;
        bottom: 5rem;
        max-width: 800px;
        min-width: 705px;
        gap: 1rem;
    }

    .company-spotlights {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7.5px;
        bottom: 2rem;
    }

    h2 {
        display: none;
    }

    /* Call to action form */


    .call-to-action {
        display: block;
        position: relative;
    }

    button#submit1 {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        bottom: 1.7rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* Discover Page */

    .side-layout {
        display: grid;
        grid-template-columns: 50% 48%;
        gap: 1rem;
    }

    h3 {
        font-size: x-large;
        text-align: center;
    }

    .side-layout p {
        font-size: larger;
    }


    iframe#map {
        max-width: 800px;
    }

    iframe#calendar {
        max-width: 350px;
        min-width: auto;
    }

    .hover:hover {
        box-shadow: 0 0 50px #333;
        transform: scaleX(-1);
    }

    #thanks-form p {
        font-size: 2.2rem;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}