@media screen and (min-width: 675px) {


    header,
    main,
    footer,
    div {
        max-width: 900px;
    }

    div.bio {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
    }

    header {
        background-color: var(--secondary-color);

    }

    div#card-sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        gap: 1rem;
    }

    #menu.show {
        display: flex;
    }

    nav.navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
        background-color: var(--nav-background-color);
    }
    
    nav a:link,
    nav a:visited {
      color: var(--nav-hover-background-color);
    }
    
    nav a:hover {
      color: var(--nav-hover-link-color);
      background-color: var(--nav-hover-background-color);
    }
    
    div#location {
        display: grid;
        text-align: center;
    }

    div.body-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7.8rem;
        max-width: 850px;
        min-width: 350px;
        padding-top: none;
    }

    footer img {
        size: 15%;
        height: auto;
        padding-left: 1rem;
    }

    .show#menu {
        display: none;
    }

    .show.navigation {
        display: flex;
        justify-content: space-evenly;
    }

    a#menu {
        display: none;
    }
}